# Ch.2 Variables

#### 자료형 변환하기

* integer(int)
* string(str)
* float
* boolean(bool)

In [2]:
a = 10
type(a)

int

#### int에서 float로 (자료형 변환)

In [3]:
float(a) #소수점이 생기게 된다.

10.0

#### int에서 str로

In [4]:
str(a) #문자열을 나타내는 ''가 나타나게 된다.

'10'

#### int에서 bool로

In [9]:
bool(10)

True

#### float에서 int로

In [10]:
int(10.6) #정수형으로 변환 시 소수점 이하는 전부 버린다!

10

In [11]:
#(응용)
x = 3.6
y = 6.5
print(int(x + y))

10

In [12]:
print(int(x) + int(y))

9

#### str에서 int로

In [21]:
p = '66.7'
int(p)

ValueError: invalid literal for int() with base 10: '66.7'

#### str에서 float로

In [22]:
float(p)

66.7

In [17]:
#p는 정수형으로 나타낼 수 없으므로, 실수형인 float를 사용해야 한다.

## print() Tips

In [23]:
print('orange', 'apple', 'tomato') #여기서 default는 띄어쓰기와 줄 바꾸기이다.
print("the next line")

orange apple tomato
the next line

#### 1. print() 설정

In [29]:
blue = 'blue'
red = 'red'
green = 'green'

print(blue + red + green) #공백 존재, 줄 바꾸기 없음
print(blue, red, green) #공백 존재, 줄 바꾸기 있음

blueredgreen
blue red green

In [33]:
print(blue, red, green, sep = ' ', end = '\n') #default 설정(공백 O, 줄 바꾸기 O)
print(blue, red, green, sep = '_', end = '\n\n') #즉, sep = 는 띄어쓰기 설정, end = 끝 관련 설정이다.
print("Colour")

blue red green
blue_red_green

Colour

#### 2. 라인이 짧을 때

In [36]:
blue = 'blue'; red = 'red'; green = 'green'; #이런 식으로, ;를 사용하면 이어서 코드를 쓸 수 있다!
num = 5; print(num)

5

## input()

* input()이란, console에서 사용자에게 값을 받는 함수를 가리킨다.
* 입출력과 관련되어 있으며, 입력 받는 값의 타입은 문자열(str)이다.
* 입력 받은 값을 변수에 넣어 사용해야 한다.
* input에 str이 아닌 다른 타입의 값을 사용하고 싶다면, 반드시 변수형을 변환시켜야 한다!
 ex) int(input()), str(input()) 등등, 순서 헷갈리지 말 것!

In [39]:
gender = input("What's your gender?")

What's your gender? Female

In [40]:
type(gender)

str

In [1]:
height = int(input("How tall are you?"))

How tall are you? 158

In [15]:
print('당신의 키는 약', height//30,'피트입니다.')

당신의 키는 약 5 피트입니다.

In [16]:
#혹은
print(f'당신의 키는 약 {height//30}피트입니다.')

당신의 키는 약 5피트입니다.

#### Quiz.1

* 섭씨를 입력받아 화씨로 변환하기
* 섭씨*1.8+32 = 화씨

In [93]:
celsius = float(input("섭씨 온도는 몇 도인가요?"))
fahrenheit = celsius*1.8+32
print(f'현재 화씨 온도는 {fahrenheit}도입니다.')

섭씨 온도는 몇 도인가요? 14

현재 화씨 온도는 57.2도입니다.

#### Quiz.2

* 택배 정보를 입력 받고 무게에 따른 값 산정하기
    * 수취인 성명 : 
    * 수취인 주소 : 
    * 기본 배송비 3000원
    * 물건 비용 : <계산된 값>원
    * 총 합계 : <계산된 값>원
* 물건 비용은 무게(g)*5
* 입력값 : 이름, 주소, 무게

In [4]:
name = input("수취인 성명은 무엇입니까?")
name

수취인 성명은 무엇입니까? 진주연

'진주연'

In [5]:
address = input("수취인 주소는 무엇입니까?")

수취인 주소는 무엇입니까? 동대문구 이문동

In [6]:
weight = input("물건의 무게는 어떻게 됩니까?")

물건의 무게는 어떻게 됩니까? 150

In [8]:
print(f'물건 비용은 {int(weight)*5}원입니다')

물건 비용은 750원입니다

In [9]:
print(f'총 비용은 {int(weight)*5+3000}원입니다')

총 비용은 3750원입니다

In [14]:
print(f'수취인 성명 : {name}', f'수취인 주소 : {address}', 
      f'물건 비용 : {int(weight)*5}원', f'총 비용 : {int(weight)*5+3000}원',
     sep = '\n')

수취인 성명 : 진주연
수취인 주소 : 동대문구 이문동
물건 비용 : 750원
총 비용 : 3750원

#### 응용 Quiz.1

* 받고 싶은 쿠키의 개수를 입력 받고 쿠키의 총 칼로리를 구하기 
    * 받고 싶은 쿠키의 개수 :
    * 쿠키 하나당 칼로리 :
    * 쿠키의 총 칼로리
* 쿠키 하나당 칼로리는 185kcal

In [108]:
cookie = input("받고 싶은 쿠키의 개수는 총 몇 개인가요?")

받고 싶은 쿠키의 개수는 총 몇 개인가요? 13

In [109]:
total_kcal = int(cookie)*185
print(total_kcal)

2405

In [111]:
print(f'받고 싶은 쿠키의 개수 : {cookie}개', 
      f'쿠키 하나당 칼로리 : 185kcal', 
      f'쿠키의 총 칼로리 : {total_kcal}kcal', sep = '\n')

받고 싶은 쿠키의 개수 : 13개
쿠키 하나당 칼로리 : 185kcal
쿠키의 총 칼로리 : 2405kcal

# Ch.3 Numbers

### boolean

* 값이 True/False로 나뉘는데, False를 나타내는 표현은 다음과 같다.
    * bool(0), bool(''), bool(None) = False
* If문과 같은 조건식에서 자주 쓰인다.
    * ex) "만약 어떤 값이 True(혹은 False)라면..." 등등

In [18]:
bool(0)

False

In [19]:
bool('')

False

In [22]:
bool(None)

False

### Integer

* 분수나 소수가 아닌 정수만을 가리킨다.
* 음수는 '-'기호를 사용한다. ex) -50
* default는 양수이다.
* 공백은 무시한다.
* 숫자 앞에 0을 붙여서는 안 된다. ex) 09 (x)!
    * 0bxx 등 10진수가 아닌 수는 가능하다.
* 숫자 사이에 쉼표를 쓰면 오류가 생긴다. ex) 100,000 (x) (100과 000으로 인식)
    * 대신, 숫자 사이의 _는 인식하지 않는다. ex) 100_000 = 십만

In [23]:
#예시_음수
minus = -158
minus + 50

-108

In [26]:
#예시_공백 무시
no_space = 133 + 54             +22
no_space

209

In [27]:
#예시_숫자 앞에 0 (x)
no_zero = 0369
no_zero

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (Temp/ipykernel_32036/3439944228.py, line 2)

In [30]:
#예시_언더바로 숫자 나타내기
under = 1000_000000000
under #이만큼 벌고 싶다

1000000000000

### 연산자 | Operator

* +, -, *, / 등이 있다.
* 피연산자 | Operand는 숫자 등이 있다.
* 수식 | Expression

In [41]:
x = 9
y = 8

x+y, x-y, x*y, x/y, x**y #거듭제곱 연산

(17, 1, 72, 1.125, 43046721)

* 나누기 연산에는 여러 종류가 있다.
    * x/y : 몫, 나머지
    * x//y : 몫
    * x%y : 나머지
    * divmod(x,y) : (몫, 나머지)

In [42]:
x/y, divmod(x,y)

(1.125, (1, 1))

* 0으로 나눈다면 에러가 뜨니 항상 주의할 것!

### 복합 대입 연산자

In [44]:
x = 36
x-18
x

36

In [47]:
x = x-4
#1. x-4을 계산
#2. 임시 변수 temp = x-4
#3. x = x-4
#이 모든 과정을 다음과 같이 나타낼 수 있다:
x -= 4

* 복합 대입 연산자로는 다음과 같은 것들이 존재한다.
    * x+=4
    * x-=4
    * x*=4
    * x/=4
    * m) %= 도 작동함!

* 주의) x = x+4는 x+4를 x에 대입하는 것이므로 x가 먼저 초기화되어야 한다.

In [54]:
x = 36
x%=4
print(x)

0

#### Quiz.1

* 반지름을 입력 받아서 원의 면적 구하기
* 면적 = pi*r제곱

In [55]:
r = int(input("원의 반지름을 입력하세요 : "))
pi = 3.14
print(pi*r**2)

원의 반지름을 입력하세요 :  4

50.24

#### Quiz.2

* 숫자를 입력 받고 3의 배수인지 확인하기
* 숫자를 입력 받고 홀수인지 확인하기

In [57]:
num = int(input("숫자를 입력하세요 : "))
print(num%3 == 0)
print(num%2 == 1)

숫자를 입력하세요 :  13

False
True

#### 응용 Quiz.2

* 주연이가 소지한 사탕의 개수를 입력 받고 13의 배수인지 확인하기
* 주연이가 소지한 사탕의 개수를 입력 받고 짝수인지 확인하기

In [112]:
amount = int(input("주연이가 소지한 사탕의 개수를 입력하세요 : "))
print(num%13 == 0)
print(num%2 == 0)

주연이가 소지한 사탕의 개수를 입력하세요 :  13

True
False

### 지수 표현

* 1.0e-4와 같이 지수를 나타낼 수 있다.
* e와 E 모두 상관 없다.
* e의 앞부분은 소수, 정수 모두 올 수 있다. 단, 뒷부분은 정수여야만 한다.
* e의 뒷부분이 음수라면 이는 소수점 자릿수를 의미한다.
    * ex) 1.0e-4 = 0.0001

In [59]:
#예시_지수 표현 1
4005.e-7

0.0004005

In [ ]:
#예시_지수 표현 2
#0.000369369를 표현해 본다면 다음과 같다.
369369e-9
3693.69e-7

#0.0369369e-2와 같이 나타낼 수는 없다!

# Ch.4 If 조건문

#### 코드 Tips

* 주석 달기 # hash, sharp,...
    * 시작 지점부터 라인 끝까지가 전부 주석으로 처리된다. 라인이 바뀌면 코드로 인식된다.
    * 긴 주석 : """~"""
    * 문자열 안에 있는 #는 부호로 인식한다.
    * 주석은 의도, 오류 등을 알리기 위해 사용한다.
    * 코드에 대한 설명은 최대한 하지 않는다.

* 라인 유지하기
    * 들여쓰기, space*4, tab 이용
    * 라인 구분은 논리 구조를 나타내기 때문에 굉장히 중요하다.
    * 한 라인에 대략 88자 정도를 넣는 것이 암묵적 룰이다.
    * backslash로 라인을 끊어줄 수 있다.

In [71]:
#예시_문자열 속의 #
#예시_긴 주석
no_sharp = 'Love ##'
print(no_sharp)
"""I Love You"""

Love ##

'I Love You'

In [72]:
#긴 주석은 코드에는 드러나나, 결과와는 상관 없다.

### if

* 조건이 1개일 때 
      if <조건식> :
          <실행할 코드>

In [81]:
if 13 == 1 :
    print("13일의 금요일은 특별하지 않다.") #두 수는 같지 않으므로 해당 문장은 print되지 않는다.

In [83]:
if 13 != 1 :
    print("13일의 금요일은 특별하다.")

13일의 금요일은 특별하다.

* 조건이 2개일 때    
    if <조건식> :
        <실행할 코드>
    else :
        <실행할 코드>

In [77]:
if 13 == 1 :
    print("13일의 금요일은 흔하다.")
else : 
    print("13일의 금요일은 흔하지 않다.")

13일의 금요일은 흔하지 않다.

* 조건이 3개 이상일 때   
    if <조건식> :
        <실행할 코드>
    elif <조건식> :
        <실행할 코드>
    else :
        <실행할 코드>

In [80]:
if 214 == 314 :
    print("발렌타인데이와 화이트데이는 같은 날짜이다.")
elif 214 == 313 :
    print("발렌타인데이는 화이트데이 이브이다.")
else :
    print("발렌타인데이와 화이트데이는 모두 상술이다.")

발렌타인데이와 화이트데이는 모두 상술이다.

* if ~ elif ~ else를 사용하지 않고 단순히 if if if만 사용한다면 셋은 모두 별개의 코드로 인식된다!

### 비교 연산자

* 비교 연산자의 종류로는 다음과 같은 것들이 있다.
    * x<y
    * x>y
    * x>=y
    * x<=y
    * x==y (값을 비교)
    * x!=y ( " )
    * x is y (값, 메모리 주소를 비교)
    * x is not y ( " )

#### Quiz.1

* 시험 점수를 입력 받고, 80점 이상이면 True, 아니면 False 반환하기

In [86]:
score = int(input("시험 점수를 입력하세요 : "))

시험 점수를 입력하세요 :  81

In [87]:
if score >= 80 :
    print("True")
else :
    print("False")

True

#### Quiz.2

* 시험 점수를 입력 받고, 95점 이상은 A+, 90점 이상은 A, 85점 이상은 B+, 나머지는 F로 출력하기

In [89]:
score = int(input("시험 점수를 입력하세요 : "))

시험 점수를 입력하세요 :  88

In [90]:
if score >= 95 :
    print('A+')
elif score >= 90 :
    print('A')
elif score >= 85 :
    print('B+')
else :
    print('F')

B+

#### 응용 Quiz.3

* 주술사 승급 시험 점수를 입력 받고, 90점 이상은 특급, 80점 이상은 1급, 70점 이상은 준1급, 나머지는 2급으로 출력하기

In [113]:
score = int(input("주술사 승급 시험 점수를 입력하세요 : "))

주술사 승급 시험 점수를 입력하세요 :  98

In [114]:
if score >= 90 :
    print('특급')
elif score >= 80 :
    print('1급')
elif score >= 70 :
    print('준1급')
else :
    print('2급')

특급

### In(여러 개 비교하기)

* 한 변수에 여러 값을 비교할 때 사용한다.

In [96]:
vowels = 'aeiou'
letter = 'o'
letter in vowels

True

In [101]:
if letter in vowels :
    print(letter, 'is vowel')

o is vowel

In [95]:
chocolates = 'milk, dark, black, ruby'
fav = 'ruby'
fav in chocolates

True